# Python Data Structures and Boolean

1) Boolean and Logical Operators
2) Lists
3) Comparison operators
4) Dictionaries
5) Tuples
6) Sets

# Boolean Variables

 Boolean values are the two constant objects False and True.

 They are used to represent truth values (other values can also be considered false or true).

  In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the    integers 0 and 1, respectively.

   The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

   They are written as False and True, respectively.

# Boolean Variables

In [17]:
my_str='Ramakrishna123'

In [19]:
my_str.istitle()

True

In [20]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('a')) #test if string endswith a
print(my_str.startswith('R')) #test if string startswith R

True
False
False
True
False
False
False
False
True

# List 
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [21]:
type([])

list

In [24]:
list_eg=[]

In [25]:
type(list_eg)

list

In [41]:
list= ['Lovehistory', 'Chemistry', 100, 200, 300, 204, 70, 80]

In [42]:
len(list)

8

# Append

In [43]:
# append is used to add elements in the list
list.append("Krrish")

In [46]:
list.append(["John","Wick"])

In [48]:
list

['Lovehistory',
 'Chemistry',
 100,
 200,
 300,
 204,
 70,
 80,
 'Krrish',
 ['John', 'Bala'],
 ['John', 'Wick']]

In [49]:
list.clear()

In [50]:
list

[]

In [51]:
list= ['Lovehistory', 'Chemistry', 100, 200, 300, 204, 70, 80]

In [52]:
list.append("Krrish")

In [53]:
list.append(["John","Wick"])

In [55]:
list

['Lovehistory',
 'Chemistry',
 100,
 200,
 300,
 204,
 70,
 80,
 'Krrish',
 ['John', 'Wick']]

# Insert

In [56]:
## insert in a specific order

list.insert(4,"Leo")

In [57]:
list

['Lovehistory',
 'Chemistry',
 100,
 200,
 'Leo',
 300,
 204,
 70,
 80,
 'Krrish',
 ['John', 'Wick']]

In [59]:
list.append(["Final","Insert"])

In [60]:
list

['Lovehistory',
 'Chemistry',
 100,
 200,
 'Leo',
 300,
 204,
 70,
 80,
 'Krrish',
 ['John', 'Wick'],
 ['Final', 'Insert']]

In [61]:
must=[1,2,3]

In [66]:
must.append([4,5,6])

In [67]:
must

[1, 2, 3, [4, 5, 6], [4, 5, 6]]

In [76]:


# list comprehension
a = [m for m in range(8)]
print(a)

b = [i*2 for i in range(10) if i>4]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7]
[10, 12, 14, 16, 18]

In [74]:

y = ['a', 25, 'dog', 8.43]

In [75]:
y

['a', 25, 'dog', 8.43]

# delete - delete a list or an item in a list

In [77]:
x = [5, 3, 8, 6]
del(x[1])
print(x)
del(x)    # list x no longer exists

[5, 8, 6]

append - append an item to a list

In [78]:
x = [5, 3, 8, 6]
y = [12, 13]
x.extend(y)
print(x)

[5, 3, 8, 6, 12, 13]

insert - insert an item at a given index

In [82]:
x = [5, 3, 8, 6]
x.insert(1, 7)
print(x)
x.insert(1, ['a', 'm'])
print(x)

[5, 7, 3, 8, 6]
[5, ['a', 'm'], 7, 3, 8, 6]

In [85]:

# pop - pops last item off list and returns item
x = [5, 3, 8, 6]
x.pop()    # pop off the 6
print(x)
print(x.pop())

[5, 3, 8]
8

In [90]:
# remove - remove first instance of an item
x = [5, 3, 8, 6, 3]
x.remove(3)
print(x)

[5, 8, 6, 3]

In [91]:
# reverse - reverse the order of the list. It is an in-place sort, meaning it changes the original list.
x = [5, 3, 8, 6]
x.reverse()
print(x)

[6, 8, 3, 5]

In [92]:
# sort - sort the list in place
x = [5, 3, 8, 6]
x.sort()
print(x)

[3, 5, 6, 8]

# Tuples

1)Immutable (can’t add/change) 2) Useful for fixed data 3)Faster than Lists 4) Sequence type

In [101]:
x = ()
x = (1, 2, 3)
x = 1, 2, 3
x = 2,    # the comma tells Python it's a tuple
print(x, type(x))

list1 = [2, 4, 6]
x = tuple(list1)
print(x, type(x))

(2,) <class 'tuple'>
(2, 4, 6) <class 'tuple'>

In [110]:
x = ()
#x = (1, 2, 3,4)
#x = 1, 2, 3
#x = 2,    # the comma tells Python it's a tuple
print(x, type(x))

() <class 'tuple'>

In [113]:
x = (1, 2, 3)
# del(x[1])       # fails
# x[1] = 8        # fails
print(x)

(1, 2, 3)

In [122]:
y = ([1, 2, 4, 5], 3)   # a tuple where the first item is a list
del(y[0][0])      # delete the 2
print(y)          # the list within the tuple is mutable

([2, 4, 5], 3)

# Sets

1)Store non-duplicate items
2)Very fast access vs Lists
3)Math Set ops (union, intersect)
4)Sets are Unordered

In [128]:
x = {3, 5, 3, 5}
print(x)

y = set()
print(y)

list1 = [2, 3, 4]
z = set(list1)
print(z)

{3, 5}
set()
{2, 3, 4}

In [130]:
x = {3*x for x in range(10) if x>5}

In [131]:
x

{18, 21, 24, 27}

In [133]:
# Set Operations

x = {3, 8, 5}
print(x)
x.add(7)
print(x)

{8, 3, 5}
{8, 3, 5, 7}

In [134]:
x.remove(3)
print(x)

{8, 5, 7}

In [135]:
# get length of set x
print(len(x))

3

In [136]:
# check membership in x
print(5 in x)

True

In [137]:
# pop random item from set x
print(x.pop(), x)

8 {5, 7}

In [140]:
# Mathematical set operations
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 & s2)
print(s1 | s2)
print(s1 ^ s2)
print(s1 - s2)
print(s1 <= s2)
print(s1 >= s2)

{3}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2}
False
False

# Dictionaries (dict)

In [149]:
x = {'pork':25.3, 'beef':33.8, 'chicken':22.7}
print(x)
x = dict([('pork', 25.3),('beef', 33.8),('chicken', 22.7)])
print(x)
x = dict(pork=25.3, beef=33.8, chicken=22.7)
print(x)

{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}

In [150]:
# dict operations

x['shrimp'] = 38.2    # add or update
print(x)

# delete an item
del(x['shrimp'])
print(x)

# get length of dict x
print(len(x))

# delete all items from dict x
x.clear()
print(x)

# delete dict x
del(x)

{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7, 'shrimp': 38.2}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
3
{}

In [147]:
# accessing keys and values in a dict
y = {'pork':25.3, 'beef':33.8, 'chicken':22.7}
print(y.keys())
print(y.values())
print(y.items())      # key-value pairs

# check membership in y_keys (only looks in keys, not values)
print('beef' in y)

# check membership in y_values
print('clams' in y.values())

dict_keys(['pork', 'beef', 'chicken'])
dict_values([25.3, 33.8, 22.7])
dict_items([('pork', 25.3), ('beef', 33.8), ('chicken', 22.7)])
True
False

In [146]:
# iterating a dict - note, items are in random order

for key in y:
    print(key, y[key])
    
for k, v in y.items():
    print(k, v)

pork 25.3
beef 33.8
chicken 22.7
pork 25.3
beef 33.8
chicken 22.7